<div class="star" *ngIf="star==0">
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="passive">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="passive">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="passive">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="passive">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="passive">star</mat-icon>
</div>
<div class="star" *ngIf="star==1">
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="active">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="passive">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="passive">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="passive">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="passive">star</mat-icon>
</div>
<div class="star" *ngIf="star==2">
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="active">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="active">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="passive">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="passive">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="passive">star</mat-icon>
</div>
<div class="star" *ngIf="star==3">
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="active">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="active">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="active">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="passive">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="passive">star</mat-icon>
</div>
<div class="star" *ngIf="star==4">
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="active">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="active">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="active">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="active">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="passive">star</mat-icon>
</div>
<div class="star" *ngIf="star==5">
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="active">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="active">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="active">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="active">star</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="active">star</mat-icon>
</div>