.f-bg {
    background-color: #FFD84C;
}

.card-bg {
    background-color: black;
    .card-title {
        color: #FFD84C;
    }
    .eva {
        color: #FFD84C;
        background-color: #FFD84C;
    }
}