<div class="loadscreen" id="preloader">
    <div class="loader spinner-bubble spinner-bubble-primary">
    </div>
</div>


<div class="app-landing-wrap landing_wrap">
    <div id="landing_wrap" class="landing-gradient-black-gray">

        <app-header></app-header>

        <div class="main-content-wrap">

            <app-first-section></app-first-section>

            <app-feature-section></app-feature-section>

            <app-service-section></app-service-section>

            <app-faq-section></app-faq-section>

            <app-contact-section></app-contact-section>

            <div class="flex-grow-1"></div>

            <section class="footer_wrap" id="footer-wrap">
                <div class="container">
                    <div class="row">

                        <div data-aos="fade-up" class="col-md-4 mb-4">
                            <div class="o-hidden text-left">
                                <div class="">
                                    <h4 class="card-title font-weight-bold">Quicky</h4>
                                    <p class="">Quicky is a brand new on-demand, last-mile bike delivery service focusing on large West African cities. It currently operates in Lagos, Nigeria, and is looking to expand to other cities in the country and elsewhere
                                        in the near future.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div data-aos="fade-up" class="col-md-4 mb-4 mb-lg-0 mb-md-0">
                            <div class="o-hidden text-left">

                                <div class="">
                                    <h4 class="card-title font-weight-bold">We Serve</h4>
                                    <div class="mb-5 lead">
                                        <ul class="list-inline">
                                            <li class="mb-3"><i class="eva eva-checkmark-outline mr-2 text-warning"></i>E-commerce
                                            </li>
                                            <li class="mb-3"><i class="eva eva-checkmark-outline mr-2 text-warning"></i>Private Businesses
                                            </li>

                                            <li class="mb-3"><i class="eva eva-checkmark-outline mr-2 text-warning"></i> Public Sectors
                                            </li>
                                        </ul>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <!-- end of col -->
                        <div data-aos="fade-up" class="col-md-4 mb-lg-0 mb-md-0">
                            <div class="o-hidden text-left">

                                <div class="">
                                    <h4 class="card-title font-weight-bold">Contact Info</h4>
                                    <div class="address-wrap mb-3">

                                        <ul class="list-group list-unstyled">
                                            <li class=""> <i class="eva eva-pin-outline mr-2"></i>Lagos, lagos mainland, Lagos, NG</li>

                                        </ul>
                                    </div>
                                    <div class="address-wrap mb-3">

                                        <ul class="list-group list-unstyled">
                                            <li class=""><i class="eva eva-email-outline mr-2"></i>quicky@gmail.com
                                            </li>

                                        </ul>
                                    </div>

                                    <div class="address-wrap mb-3">

                                        <ul class="list-group list-unstyled">
                                            <li class=""><i class="eva eva-phone-call-outline mr-2"></i> +2348109090909
                                            </li>

                                        </ul>
                                    </div>


                                    <section class="social-wrap">

                                        <div class="social-btns-wrap">

                                            <a class="social-btn text-30 facebook ml-0" href="#"><i class="eva eva-facebook"></i></a>

                                            <a class="social-btn text-30 twitter" href="#"><i class="eva eva-twitter"></i></a>

                                            <a class="social-btn text-30 google" href="#"><i class="eva eva-google"></i></a>

                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <!-- end of col -->
                    </div>
                </div>
            </section>

        </div>




    </div>
</div>