.modal-section {
    width: 400px;
    height: 700px;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    .top {
        flex: 2.9;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
        background-image: linear-gradient( #FFD84C, black);
        // box-shadow: 1px 1px 1px 1px rgb(99, 98, 98);
        .quicky-grid-row {
            display: flex;
            flex-direction: row;
            color: white;
            margin-bottom: 10px;
            .left-key {
                flex: 2;
                padding-left: 5px;
                text-align: left;
            }
            .left-value {
                flex: 4;
                text-align: right;
                padding-right: 5px;
                color: rgb(255, 221, 28);
            }
        }
    }
    .quicky-divider {
        height: 10px;
    }
    .bottom {
        flex: 4;
        width: 100%;
        border-radius: 10px;
        background-color: rgb(61, 60, 60);
        padding: 10px;
        .address-name {
            color: white;
            margin-bottom: 5px;
        }
        .address-container {
            border-radius: 10px;
            background-color: black;
            color: white;
            font-size: 0.9em;
            padding: 10px;
            width: 100%;
        }
        .to {
            color: black;
            background-color: #ffe066;
        }
        .divider {
            margin-bottom: 5px;
        }
        .driver-container {
            display: flex;
            flex-direction: row;
            background-color: black;
            padding: 10px;
            border-radius: 10px;
            .profile {
                flex: 2;
                .avatar {
                    width: 70px;
                    height: 70px;
                    background-color: white;
                    border-radius: 50%;
                }
            }
            .info {
                flex: 7;
                font-size: 0.9em;
                color: white;
                opacity: 0.6;
            }
        }
        .m-bottom {
            margin-bottom: 5px;
        }
    }
}

.loader-center {
    text-align: center;
    margin-top: 10rem;
}